/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografías personalizadas */
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/inter-cyrillic-500-normal.ttf);
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains_Mono';
  src: url(../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
  font-weight: 100 800;
  font-display: swap;
}

/* Variables */
:root {
  --color-negro: #0f0f0f;
  --color-gris: #f8fafc;
  --color-gris-oscuro: #1E293B;
  --color-verde: #16A34A;
  --color-rojo: #DC2626;
  --color-amarillo: #EAB308;
}

/* Estilos globales */
body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  background: url("/fondo.webp") no-repeat center center fixed;
}

h1, h2, h3, h4, p, a {
  color: var(--color-negro);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}