/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografías personalizadas */
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/inter-cyrillic-500-normal.ttf);
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains_Mono';
  src: url(../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
  font-weight: 100 800;
  font-display: swap;
}

/* Variables */
:root {
  --color-gris: #F8FAFC;
  --color-gris-oscuro: #1E293B;
  --color-verde: #16A34A;
  --color-rojo: #DC2626;
  --color-amarillo: #EAB308;
}

/* Estilos globales */
body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}